TELEGRAM_API_ID=your_telegram_api_id
TELEGRAM_API_HASH=change_me_telegram_api_hash
TELEGRAM_PHONE=+1234567890
TELEGRAM_SESSION=admin_session

USEDESK_API_TOKEN=your_usedesk_api_token

REMNA_API_DOMAIN=domain.com
REMNA_API_TOKEN=your_remna_api_token

SECURITY_HASH=change_me_security_hash

CACHE_DIR=/app/cache

FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=False

LOG_LEVEL=INFO
